body{
    background-color: #2D2D2D}

h1{
    color: azure;
}
.container{
    display: flex;

}

.book-card{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #82230E;
    margin: 10px;
    border-radius: 5px;
    color: #F0F0EE;
    width: 150px;
    height: 150px;
}